<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layouts::header"></head>
	<nav th:replace="layouts::navbar"></nav>
	
	<body>
	<input type="hidden" th:value="${employee.id}" id="empId"/>
		<div class="container mt-4 col-6">
		  <div class="form-group">
		    <label for="firstName">First name</label>
		    <input type="text"  class="form-control" id="firstName" >
		  </div>
		  <div class="form-group">
		    <label for="lastName">Last Name</label>
		    <input type="text" class="form-control" id="lastName"  >
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
		    <input type="email" class="form-control" id="email" >
		  </div>	
		  
		     <div class="form-group">
		    <label for="userName">Username</label>
		    <input type="text" class="form-control" id="userName"  >
		  </div>
		
		  <div class="form-group">
		   <label for="roles">Choose roles:</label>
		  	<select name="roles" id="roles" multiple class="form-control">
<!-- 		    	<option value="ADMIN">ADMIN</option> -->
<!-- 		    	<option value="USER">USER</option> -->
		    </select>	
	    </div>
		  
		<div class="mt-4 mb-4 col-4">
			<a class="btn btn-primary btn-block" onclick="updateEmployee()">update employee</a>
		</div>
	</div>
		
	</body>
	<script type="text/javascript">
	var id=$("#empId").val();
	<script type="text/javascript">
	$(document).ready(renderEmp());	

	function renderEmp(){
	
		$.ajax({
			url: "/rest/employees/profile",
			success: function(employee){
				if(employee && employee.employees[0].id > 0){
					 $("#firstName").val(employee.employees[0].firstName),
					 $("#lastName").val(employee.employees[0].lastName),
					 $("#email").val(employee.employees[0].email),
					 $("#userName").val(employee.employees[0].userName),
// 					 $("#roles").val(employee.employees[0].roles)
				}
			}
		});
	}
	
		function updateEmployee(){
			$.ajax({
				url: "/rest/employees/"+id,
				type: "put",
				dataType: "json",
				contentType: "application/json",
				data: JSON.stringify({
					firstName: $("#firstName").val(),
					lastName: $("#lastName").val(),
					email: $("#email").val()
				}),
				success: function(employee){
					if(employee && employee.id > 0){
						window.location.href="/employees";
					}
				}
			});
		}
	</script>
</html>